<a href="https://colab.research.google.com/github/nishant-harinkhede12/Machine-Learning-Projects/blob/main/Regression_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
url = 'https://raw.githubusercontent.com/nishant-harinkhede12/Machine-Learning-Projects/main/vgsales.csv'
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv(url)

In [93]:
print(data.head(10))

   Rank             Name Platform  ...  JP_Sales Other_Sales Global_Sales
0   259        Asteroids     2600  ...       0.0        0.05         4.31
1   545  Missile Command     2600  ...       0.0        0.03         2.76
2  1768          Kaboom!     2600  ...       0.0        0.01         1.15
3  1971         Defender     2600  ...       0.0        0.01         1.05
4  2671           Boxing     2600  ...       0.0        0.01         0.77
5  4027       Ice Hockey     2600  ...       0.0        0.01         0.49
6  5368          Freeway     2600  ...       0.0        0.00         0.34
7  6319           Bridge     2600  ...       0.0        0.00         0.27
8  6898         Checkers     2600  ...       0.0        0.00         0.24
9   240         Pitfall!     2600  ...       0.0        0.05         4.50

[10 rows x 11 columns]

In [62]:
data.isnull().sum()

Rank             0
Name             0
Platform         0
Year             0
Genre            0
Publisher       36
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [5]:
data.Publisher.value_counts()

Electronic Arts                 1339
Activision                       966
Namco Bandai Games               928
Ubisoft                          918
Konami Digital Entertainment     823
                                ...
Extreme Entertainment Group        1
989 Sports                         1
Xing Entertainment                 1
TalonSoft                          1
Interworks Unlimited, Inc.         1
Name: Publisher, Length: 576, dtype: int64

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16324 entries, 0 to 16323
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16324 non-null  int64
 1   Name          16324 non-null  object
 2   Platform      16324 non-null  object
 3   Year          16324 non-null  int64
 4   Genre         16324 non-null  object
 5   Publisher     16288 non-null  object
 6   NA_Sales      16324 non-null  float64
 7   EU_Sales      16324 non-null  float64
 8   JP_Sales      16324 non-null  float64
 9   Other_Sales   16324 non-null  float64
 10  Global_Sales  16324 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 1.4+ MB

In [94]:
cor = data.corr()

columns = cor[cor["Global_Sales"]>0.5]["Global_Sales"]
columns_1 = cor[cor["Global_Sales"]<(-0.5)]["Global_Sales"]

C = pd.concat([columns,columns_1],axis=1)
columns_list = C.index


data1 = pd.DataFrame(data,columns = columns_list)

In [68]:
columns_list

Index(['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'], dtype='object')

In [65]:
cor

                  Rank      Year  NA_Sales  ...  JP_Sales  Other_Sales  Global_Sales
Rank          1.000000  0.178443 -0.400330  ... -0.269141    -0.332525     -0.426884
Year          0.178443  1.000000 -0.091350  ... -0.169320     0.041177     -0.074653
NA_Sales     -0.400330 -0.091350  1.000000  ...  0.451280     0.634503      0.941267
EU_Sales     -0.379029  0.006142  0.768932  ...  0.436408     0.726262      0.903269
JP_Sales     -0.269141 -0.169320  0.451280  ...  1.000000     0.290646      0.612790
Other_Sales  -0.332525  0.041177  0.634503  ...  0.290646     1.000000      0.747971
Global_Sales -0.426884 -0.074653  0.941267  ...  0.612790     0.747971      1.000000

[7 rows x 7 columns]

In [69]:
data1.head()

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0      4.00      0.26       0.0         0.05          4.31
1      2.56      0.17       0.0         0.03          2.76
2      1.07      0.07       0.0         0.01          1.15
3      0.99      0.05       0.0         0.01          1.05
4      0.72      0.04       0.0         0.01          0.77

In [95]:

x = pd.concat([data1.iloc[:,[0,1,2,3]],data.iloc[:,[0]]],axis = 1)

In [96]:
y = data1.iloc[:,[4]]

In [72]:
data2 = data.copy()

data2['Publisher'].fillna(data2['Publisher'].mode()[0],inplace=True)

In [73]:
#data2 = pd.DataFrame(data2)
data2.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [97]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [98]:
from sklearn.preprocessing import StandardScaler
SC = StandardScaler()

x_train = SC.fit_transform(x_train)
x_test = SC.transform(x_test)

In [91]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
predictions = model.predict(x_test)

In [99]:
#importing ML models from scikit-learn
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

#to save time all models can be applied once using for loop
regressors = {
    'Linear Regression' : LinearRegression(),
    'Decision Tree' : DecisionTreeRegressor(),
    'Random Forest' : RandomForestRegressor(),
    'Support Vector Machines' : SVR(gamma=1),
    'K-nearest Neighbors' : KNeighborsRegressor(n_neighbors=1),
    'XGBoost' : XGBRegressor()
}
results=pd.DataFrame(columns=['MAE','MSE','R2-score'])
for method,func in regressors.items():
    model = func.fit(x_train,y_train)
    pred = model.predict(x_test)
    results.loc[method]= [np.round(mean_absolute_error(y_test,pred),3),
                          np.round(mean_squared_error(y_test,pred),3),
                          np.round(r2_score(y_test,pred),3)
                         ]
    
results.sort_values('R2-score',ascending=False).style.background_gradient(cmap='Greens',subset=['R2-score'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[04:29:54] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.